main .container {
    margin-top: 0;
}
main h1,main h2 {
    font-weight: 500;
    line-height: 200%;
    letter-spacing: 1.5px;
}
main p {
    word-spacing: 3px;
    font-size: 1.1em;
    margin: 20px 0;
    line-height: 1.8em;
}
main {
    height: 1100px;
}
img {
    height: 350px;
    width: auto;
    margin: 20px 40px;
    aspect-ratio: 1/1;
}
.img1 {
    float: right;
}
.img2 {
    float: left;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    header ul {
        gap: 0;
    }
    header ul li a {
        font-size: 13px;
    }
    header .middle-section {
        left: 55%;
    }
    header {
        max-width: 1024px;
    }
    main {
        height: 1000px;
    }
   
    
    main h1 {
        font-size: 28px;
    }
    main h2 {
        font-size: 20px;
    }
    main p {
        font-size: 14px;
    }
    img {
        height: 340px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header ul {
        gap: 0;
    }
    header ul li a {
        font-size: 10px;
    }
    header .middle-section {
        left: 50%;
        top: 3%;
    }
    header {
        max-width: 1024px;
    }
    main {
        height: 1200px;
    }
    main .container {
        max-width: 1000px;
        width: min(100%, 950px);
    }
    main h1 {
        font-size: 28px;
    }
    main h2 {
        font-size: 20px;
    }
    main p {
        font-size: 14px;
    }
    img {
        height: 340px;
    }
}